.heading{

        color: #0CC9B3;
        font-size: 20px;
        line-height: 33px;
    }
p.desc{
        padding-bottom: 20px;
        color: rgba(255,255,255,0.35);
        font-size: 14px;
        line-height: 26px;
}
.header{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0px;
        background: #0CC9B3;
        height: 1px;
        width: 50%;
    }
}